@use '../utils/variables';

.btn {
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
  background: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  &:disabled {
    opacity: 0.8;
    cursor: default;
    user-select: none;
  }
  > * {
    margin-left: 0.3rem;
    &:first-child {
      margin-left: 0;
    }
  }
  &.btn-primary {
    background-color: variables.$c-primary--500;
    color: variables.$c-primary--50;
    box-shadow: 1px 1px 0.5rem 0 transparentize($color: variables.$c-primary--500, $amount: 0.75);
    font-weight: bold;
  }
  &.btn-danger {
    background-color: variables.$c-danger--500;
    color: variables.$c-primary--50;
    box-shadow: 1px 1px 0.5rem 0 transparentize($color: variables.$c-danger--500, $amount: 0.75);
    font-weight: bold;
  }
  &.btn-round {
    border-radius: 1rem;
  }
}
