@use '../utils/variables';

.input {
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid variables.$c-secondary--500;
  width: 100%;
  box-sizing: border-box;
  &:focus-within {
    outline: 1px variables.$c-primary--500 auto;
  }
}

.field-invalid {
  .input {
    border-color: variables.$c-danger--500;
  }
}
