@use '../utils/variables';

.input {
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid variables.$c-secondary--500;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba($color: variables.$c-secondary--100, $alpha: 0.15);
  &:focus-within {
    border: 1px variables.$c-primary--500 solid;
    outline: none;
    background-color: rgba($color: variables.$c-secondary--100, $alpha: 0.1);
  }
}

.field-invalid {
  .input {
    border-color: variables.$c-danger--500;
    outline-color: variables.$c-danger--500;
  }
}
