@use '../../styles/utils/mixings';
div.SongItem {
  display: flex;
  div.thumbnail-container {
    width: 2.65rem;
    @include mixings.min-sm {
      height: 3rem;
    }
    @include mixings.min-md {
      height: 3.5rem;
    }
    svg {
      height: 100%;
      width: 100%;
    }
  }
  div.info-container {
    flex-grow: 1;
    margin-left: 0.5rem;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mixings.min-sm {
      margin-left: 0.75rem;
    }
    div.song-name, div.song-artist {
      overflow: hidden;
      text-overflow: ellipsis;
      span {
        white-space: nowrap;
      }
    }
    div.song-name {
      span {
        font-weight: bold;
        font-size: 1.1rem;
      }
    }
    div.song-artist {
      margin-top: 0.1rem;
      @include mixings.min-sm {
        margin-top: 0.2rem;
      }
      @include mixings.min-md {
        margin-top: 0.3rem;
      }
      span {
        font-size: 1rem;
      }
    }
  }
}