@use '../../../../styles/utils/mixings';
@use '../../../../styles/utils/variables';

div.SongRequestQueue {
  .queue-item__request {
    &:not(:first-child) {
      margin-top: 0.75rem;
      @include mixings.min-md {
        margin-top: 1.25rem;
      }
    }
  }
  div.queue-empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
