@use '../../styles/utils/variables';
@use '../../styles/utils/mixings';

div.PageLayout {
  height: 100%;
  display: flex;
  flex-direction: column;
  div.page-container {
    overflow: auto;
    flex-grow: 1;
  }
}
