.c-event-card {
  & .c-event-card__header {
    display: flex;
    align-items: center;
    gap: 2ch;
  }

  & .c-event-card__header-title {
    flex-grow: 1;
    margin: 0;
    display: contents;
  }

  & .c-event-card__title-ellipsis {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .c-event-card__title {
    white-space: nowrap;
  }

  & .c-event-card__header-right {
    display: flex;
    align-items: center;
    gap: 0.5ch;
  }

  & .c-event-card__header-menu {
    margin-right: -0.563rem;
  }

  @media (--min-lg-window) {
    & .c-event-card__header-menu {
      margin-right: -0.625rem;
    }
  }
}
