**/.DS_Store
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/*.env
**/.pnp
**/.pnp.js
**/node_modules
.vps-data
.vscode
.vps-data
.git

/frontend/coverage
/frontend/build
/backend/.data
/backend/dist
!/frontend/*.env
