.c-card {
  border: solid 1px var(--theme-color-card-border);
  border-radius: 5px;
  background-color: var(--theme-color-card-background);

  & .c-card__header {
    color: var(--theme-color-card-text-1);
  }

  & .c-card__content {
    padding: 0 1.5rem;
    margin: 1.25rem 0;
  }

  & .c-card__content:not(:first-child) {
    margin-top: 0;
  }

  & .c-card__body {
    color: var(--theme-color-card-text-2);
  }
}
