.c-card {
  border: solid 1px #dcd8f2;
  border-radius: 5px;

  & .c-card__content {
    padding: 0 1.5rem;
    margin: 1.25rem 0;
  }

  & .c-card__content:not(:first-child) {
    margin-top: 0;
  }

  & .c-card__body {
    color: #5c5a6f;
  }
}
