{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "overrides": [
    { "files":["*.js"], "parser": "node" }
  ],
  "rules": {
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}