@use '../../styles/themes/theme';
@use '../../styles/utils/variables';

div.MakeASongRequestPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  div.filter-container {
    text-align: center;
    .search-input {
      width: 100%;
      max-width: 21.875rem;
    }
  }
  div.song-request-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    div.empty-message-container, div.not-found-message-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      p {
        text-align: center;
        color: theme.color('header-primary');
      }
    }
  }
}
