.c-popup-menu {
  background-color: var(--theme-surface-popup);
  color: var(--theme-foreground-popup);
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.75rem 0 var(--theme-surface-popup-shadow);
  font-size: 0.875rem;
}
