@use '../../styles/utils/mixings';

div.BottomActionButton {
  text-align: end;
  pointer-events: none;
  button {
    width: 100%;
    pointer-events: initial;
    @include mixings.min-sm {
      width: auto;
    }
  }
}