@use '../../../styles/themes/theme';

div.FormField {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  span.field-label, div.field-children, span.field-error-message {
    display: block;
  }
  span.field-label {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
    color: theme.color('form-field-label');
    &.field-label--required {
      &::after {
        content: "*";
        display: inline-block;
        margin-left: 0.2rem;
        font-weight: bold;
      }
    }
  }
  span.field-error-message {
    font-size: 0.8rem;
    margin-top: 0.3rem;
    color: theme.color('form-field-error');
  }
}
