.LoadingPage {
  height: 100%;
  .progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .loading-progress-icon {
      font-size: 2rem;
    }
  }
  
}
