@use '../../styles/themes/theme';

div.OverlayMenu {
  button.default-btn-menu {
    padding: 0.25rem;
    color: inherit;
  }
}

div.OverlayMenu__content {
  div.overlay-menu-content {
    padding: 0.25rem 0;
    ul.overlay-container {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: theme.color('overlay-menu-background');
      box-shadow: 0.0625rem 0.1875rem 0.9375rem -0.5125rem theme.color('overlay-menu-shadow');
      border: solid 0.0625rem theme.color('overlay-menu-border');
      border-radius: 0.1875rem;
      li {
        &:not(:first-child) {
          border-top: solid 0.0625rem theme.color('overlay-menu-item-border');
        }
        button {
          border-radius: 0;
          width: 100%;
          color: theme.color('overlay-menu-item-text');
          justify-content: start;
          padding: 0.5rem 0.75rem;
          font-size: 1rem;
          &:hover {
            background-color: theme.color('overlay-menu-item-text--hover');
          }
        }
        &:first-child {
          button {
            margin-top: 0.25rem;
          }
        }
        &:last-child {
          button {
            margin-bottom: 0.25rem;
          }
        }
      }
    }
  }
}
