@use '../../../../styles/utils/variables';

div.MultiselectBox {
  .checkbox-option {
    padding: 1rem;
    width: 100%;
    &:not(:first-child) {
      border-top: solid 1px variables.$c-secondary--200;
    }
  }
}
