@use '../themes/theme';
@use '../utils/variables/sizes';

.card {
  border-radius: 0.1875rem;
  &.card-primary {
    background-color: theme.color('card-primary-background');
    padding: 1.5rem;
    font-size: 1rem;
    .card-title {
      color: theme.color('card-primary-title');
      font-size: 1.2rem;
      font-weight: bold;
    }
    .card-paragraph {
      color: theme.color('card-primary-paragraph');
    }
    .card-icon {
      color: theme.color('card-primary-icon');
    }
  }
}

.card-group {
  display: flex;
  .card {
    flex-grow: 1;
  }
  .card:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .card:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-addon {
    padding: 1.5rem;
    border-radius: sizes.$border-radius;
    > * {
      vertical-align: middle;
    }
    &.card-addon-primary {
      background-color: theme.color('card-group-addon-primary-background');
      color: theme.color('card-group-addon-primary-text');
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
