@use '../utils/mixings';
@use '../utils/variables';

.page-content {
  padding: 0.75rem;
  width: 100%;
  max-width: variables.$min-md;
  margin: 0 auto;
  min-height: 100%;
  @include mixings.min-md {
    padding: 1.25rem;
  }
}
