.c-menu-link-item {
  text-decoration: none;
  color: currentcolor;

  & .c-menu-link-item__wrapper {
    line-height: 1em;
    padding: 0.75rem 1.25rem;
    font-size: 0.875rem;
    display: flex;
    border: none;
    background-color: transparent;

    &[data-focus-ring] {
      outline: solid 2px currentcolor;
    }
  }
}
