@use '../../../../styles/themes/theme';
@use '../../../../styles/utils/mixings/breakpoints';

label.Checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  padding: 0.75rem 0;
  @include breakpoints.min-sm {
    padding: 1rem 0;
  }
  span.checkbox-label {
    flex-grow: 1;
  }
  &:not(.Checkbox--reverse) {
    .checkbox-element {
      &:not(:first-child) {
        margin-left: 0.25rem;
      }
    }
  }
  &.Checkbox--reverse {
    flex-direction: row-reverse;
    .checkbox-element {
      &:not(:last-child) {
        margin-left: 0.25rem;
      }
    }
  }
  input.checkbox-input-native {
    display: none;
  }
  span.checkbox-input {
    border-radius: 0.313rem;
    border: solid 0.125rem theme.color('checkbox-border');
    display: inline-flex;
    background-color: theme.color('checkbox-background');
    padding: 0.125rem;
    svg.checkbox-input__checked {
      visibility: hidden;
      color: theme.color('checkbox-icon--checked');
      width: 0.875rem;
      height: 0.875rem;
    }
  }
  input.checkbox-input-native[type=checkbox]:checked + span.checkbox-input {
    background-color: theme.color('checkbox-background--checked');
    border-color: theme.color('checkbox-background--checked');
    svg.checkbox-input__checked {
      visibility: visible;
    }
  }
}
