@import "/src/styles/utils/index.css";

div.MobileMainMenu {
  background-color: var(--theme-surface-sidebar-menu);
  color: var(--theme-surface-sidebar-menu-contrast);
  height: 100%;
  width: 18.75rem;

  & .MobileMainMenu__menu-header {
    height: 3.375rem;
    padding-left: 0.75rem;
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
  }

  & .MobileMainMenu__title-container {
    text-align: center;
    flex-grow: 1;
  }

  & .MobileMainMenu__title {
    margin: 0;
  }

  & .MobileMainMenu__menu-content {
    padding: 1rem 1.5rem;
  }
}

@media (--min-lg-window) {
  div.MobileMainMenu {
    display: none;
  }
}
