@use '../../../../styles/themes/theme';
@use '../../../../styles/utils/mixings';

label.RadioButton {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem 0;
  @include mixings.min-sm {
    padding: 1rem 0;
  }
  span.radio-button-label {
    flex-grow: 1;
    width: 0;
  }
  &:not(.RadioButton--reverse) {
    .radio-button-element {
      &:not(:first-child) {
        margin-left: 0.5rem;
      }
    }
  }
  &.radio-button--reverse {
    flex-direction: row-reverse;
    .radio-button-element {
      &:not(:last-child) {
        margin-left: 0.25rem;
      }
    }
  }
  input.radio-button-input-native {
    display: none;
  }
  span.radio-button-input {
    border-radius: 50%;
    display: inline-flex;
    border: 0.125rem solid theme.color('radio-button-border');
    background-color: theme.color('radio-button-background');
    span.radio-button-input__checked {
      visibility: hidden;
      border-radius: 50%;
      background-color: theme.color('radio-button-background--checked');
      margin: 0.1875rem;
      width: 0.75rem;
      height: 0.75rem;
    }
  }
  input.radio-button-input-native[type=radio]:checked + span.radio-button-input {
    border-color: theme.color('radio-button-border--checked');
    span.radio-button-input__checked {
      visibility: visible;
    }
  }
}
