@use '../../styles/utils/variables';

nav.Toolbar {
  background-color: variables.$c-primary--900;
  color: variables.$c-primary--50;
  font-weight: bold;
  padding: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  span.toolbar-link {
    a {
      svg {
        color: variables.$c-primary--50;
      }
    }
  }
  span.toolbar-title {
    flex-grow: 1;
  }
  span.toolbar-item {
    margin: 0 0.5rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
