@keyframes Sidebar__fadeout {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes Sidebar__fadein {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

div.Sidebar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);

  &.Sidebar--opened {
    transform: translateX(0);
    animation: Sidebar__fadein 150ms;
  }

  &.Sidebar--closing {
    transform: translateX(-100%);
    animation: Sidebar__fadeout 150ms;
  }
}
