@keyframes cfx-sidebar__fadeout {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes cfx-sidebar__fadein {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes cfx-sidebar__mask-fadein {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: var(--theme-color-mask-background);
  }
}

@keyframes cfx-sidebar__mask-fadeout {
  0% {
    background-color: var(--theme-color-mask-background);
  }

  100% {
    background-color: transparent;
  }
}

.c-sidebar {
  background-color: var(--theme-color-mask-background);
  will-change: background-color;

  & .c-sidebar__content {
    transform: translateX(-100%);
    height: 100%;
    display: inline-block;
    position: relative;
    will-change: transform;
  }

  &.c-sidebar--opened {
    animation: cfx-sidebar__mask-fadein 250ms;

    & .c-sidebar__content {
      transform: translateX(0);
      animation: cfx-sidebar__fadein 250ms;
    }
  }

  &.c-sidebar--closed {
    background-color: transparent;
    animation: cfx-sidebar__mask-fadeout 250ms;

    & .c-sidebar__content {
      transform: translateX(-100%);
      animation: cfx-sidebar__fadeout 250ms;
    }
  }
}
