.c-pill {
  border-radius: 0.625rem;
  padding: 0 0.5rem;
  font-size: 0.77rem;
  font-weight: bold;
  line-height: 1.5rem;
  white-space: nowrap;

  &.c-pill--primary {
    background-color: var(--theme-color-primary-400);
    color: var(--theme-color-primary-contrast-400);
  }

  &.c-pill--secondary {
    background-color: var(--theme-color-secondary-400);
    color: var(--theme-color-secondary-contrast-400);
  }

  &.c-pill--warning {
    background-color: var(--theme-color-pill-warning-background);
    color: var(--theme-color-pill-warning-text);
  }

  &.c-pill--success {
    background-color: var(--theme-color-pill-success-background);
    color: var(--theme-color-pill-success-text);
  }

  &.c-pill--danger {
    background-color: var(--theme-color-pill-danger-background);
    color: var(--theme-color-pill-danger-text);
  }
}
