.c-pill {
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  white-space: nowrap;

  &.c-pill--warning {
    background-color: var(--theme-color-status-warning-background);
    color: var(--theme-color-status-warning-text);
  }

  &.c-pill--success {
    background-color: var(--theme-color-status-success-background);
    color: var(--theme-color-status-success-text);
  }

  &.c-pill--danger {
    background-color: var(--theme-color-status-danger-background);
    color: var(--theme-color-status-danger-text);
  }
}
