span.Pill {
  border-radius: 0.625rem;
  padding: 0 0.5rem;
  font-size: 0.77rem;
  font-weight: bold;
  line-height: 1.5rem;
  white-space: nowrap;

  &.Pill--primary {
    background-color: var(--theme-primary-400);
    color: var(--theme-primary-contrast-400);
  }

  &.Pill--secondary {
    background-color: var(--theme-secondary-400);
    color: var(--theme-secondary-contrast-400);
  }

  &.Pill--warning {
    background-color: var(--theme-surface-pill-warning);
    color: var(--theme-foreground-pill-warning);
  }

  &.Pill--success {
    background-color: var(--theme-surface-pill-success);
    color: var(--theme-foreground-pill-success);
  }

  &.Pill--danger {
    background-color: var(--theme-surface-pill-danger);
    color: var(--theme-foreground-pill-danger);
  }
}
