.c-overlay-container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  & .c-overlay-container__content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }
  

  @media(--max-md-window) {
    &.c-overlay-container--touch-ui .c-overlay-container__content {
      top: 50% !important;
      left: 50% !important;
      width: 85vw !important;
      min-width: 85vw !important;
      max-width: 85vw !important;
      display: block;
      transform: translate(-50%, -50%);
      max-height: 90vh;
    }
  }
}
