.c-control-panel-layout {
  height: 100%;
  display: flex;
  position: relative;

  & .c-control-panel-layout__navigation-bar {
    background-color: var(--theme-color-toolbar-background);
    color: var(--theme-color-toolbar-text);
    padding-right: 1.5rem;
    padding-left: 0.75rem;
    height: 3.375rem;
    display: flex;
    align-items: center;
    z-index: 1;
    box-shadow: var(--theme-shadow-elevation-1);
  }

  @media (--min-lg-window) {
    & .c-control-panel-layout__navigation-bar {
      padding-left: 1.5rem;
      box-shadow: none
    }
  }

  & .c-control-panel-layout__page-container {
    flex-grow: 1;
    height: 0;
    overflow: auto;
  }

  & .c-control-panel-layout__navigation-bar-left-content {
    display: flex;
    align-items: center;
    width: 16.5rem;
  }

  @media (--min-lg-window) {
    & .c-control-panel-layout__navigation-bar-left-content {
      display: none;
    }
  }

  & .c-control-panel-layout__main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  & .c-control-panel-layout__desktop-menu {
    flex-shrink: 0;
  }
}
