div.HomePage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  form.choose-room {
    padding: 0 1rem;
    margin: 1rem;
    div.form-content {
      .room-code-input {
        flex-grow: 1;
        width: 100%;
      }
      div.form-actions {
        text-align: center;
        margin: 1.5rem;
        button.submit-room-btn {
          min-width: 150px;
        }
      }
      
    }
  }
  div.login-link-container {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 0.8rem;
  }
}
