@use '../../../styles/utils/variables';

label.FormField {
  display: inline-block;
  span.field-label, div.field-children, span.field-error-message {
    display: block;
  }
  span.field-label {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.15rem;
  }
  span.field-error-message {
    font-size: 0.8rem;
    margin-top: 0.125rem;
    color: variables.$c-danger--500;
  }
}