@use '../../styles/utils/variables';

div.ManageRoomModeratorsPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  div.manage-room-header {
    padding: 1.5rem 1rem;
    span.room-icon {
      font-size: 1.5rem;
    }
    span.room-title {
      font-size: 1.5rem;
      margin-left: 1.5rem;
      font-weight: bold;
    }
  }
  .manage-room-content {
    overflow: auto;
    flex-grow: 1;
    margin-top: 1rem;
    padding: 1rem;
  }
}
