div.ManageRoomModeratorsPage {
  div.manage-room-moderators-container {
    .room-header {
      font-size: 1.35rem;
    }
    height: 100%;
    display: flex;
    flex-direction: column;
    div.manage-room-content {
      flex-grow: 1;
      margin-top: 1rem;
      div.manage-room-content__title {
        h3 {
          margin: 0;
        }
      }
      .checkbox-list {
        margin-top: -0.75rem;
        height: 100%;
      }
    }
  }
}
