@use '../../../../styles/utils/variables';

nav.Toolbar {
  background-color: variables.$c-primary--900;
  color: variables.$c-primary--50;
  font-weight: bold;
  padding: 1rem;
  font-weight: bold;
}
