@use '../../styles/utils/mixings';

div.RoomsDashboardPage {
  height: 100%;
  position: relative;
  div.actions-container {
    text-align: center;
    margin: 1.5rem;
    button {
      min-width: 12rem;
    }
  }
}
