@use '../../styles/utils/mixings/breakpoints';

div.BottomLink {
  text-align: end;
  a.BottomLink__link {
    width: 100%;
    text-align: center;
    @include breakpoints.min-sm {
      width: auto;
    }
  }
}