@use '../../styles/themes/theme';
@use '../../styles/utils/mixings';

div.HomePage {
  position: relative;
  display: flex;
  height: 100%;
  div.HomePage__left {
    width: 20rem;
    padding: 2rem;
    display: none;
    background-color: theme.color('login-form-left-bar');
    @include mixings.min-md {
      display: block;
    }
    @include mixings.min-lg {
      width: 25rem;
    }
    h1.welcome-msg {
      color: theme.color('header-primary');
    }
  }
  div.HomePage__right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: theme.color('login-form-background');
    div.login-container {
      margin: auto;
      padding: 1rem;
      width: 100%;
      max-width: 30rem;
      @include mixings.min-sm {
        padding: 2rem;
      }
      form.choose-room {
        h2 {
          color: theme.color('header-primary');
          margin-top: 0;
          margin-bottom: 2.25rem;
        }
        div.form-content {
          .room-code-input {
            flex-grow: 1;
            width: 100%;
          }
          div.form-actions {
            margin-top: 1.5rem;
            button.submit-room-btn {
              min-width: 9.375rem;
            }
          }
        }
      }
      hr {
        margin: 3.5rem 0;
      }
      div.extra-actions {
        button {
          width: 100%;
        }
        
      }
    }
  }

  div.login-link-container {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 0.8rem;
  }
}
