@use '../../styles/utils/mixings';

div.DashboardPage {
  position: relative;
  .dashboard-item {
    margin-top: 0.75rem;
    @include mixings.min-md {
      margin-top: 1.25rem;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

