@import "/src/styles/utils/index.css";

._button {
  outline: none;
  border-radius: 0.25rem;
  border: none;
  text-align: center;
  font-weight: 600;

  &:not(:disabled) {
    cursor: pointer;
  }

  /* Global sizes */
  &._button--sm {
    font-size: 0.875rem;
  }

  &._button--md {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &._button--lg {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  @media (--min-lg-window) {
    &._button--sm {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    &._button--md {
      font-size: 1rem;
      line-height: 1.25rem;
    }

    &._button--lg {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }

  /* Text button */
  &._button--primary-text {
    background-color: transparent;
    color: var(--theme-primary-400);
  }

  /* Outlined button */
  &._button--outlined {
    border: currentcolor solid 0.063rem;
    background-color: transparent;
    color: currentcolor;
  }

  &._button--outlined-primary {
    border-color: var(--theme-primary-400);
    color: var(--theme-primary-400);
  }

  &._button--outlined-secondary {
    border-color: var(--theme-secondary-800);
    color: var(--theme-secondary-800);
  }

  &._button--outlined._button--sm {
    padding: 0.5rem 0.875rem;
  }

  &._button--outlined._button--md {
    padding: 0.625rem 1.5rem;
  }

  &._button--outlined._button--lg {
    padding: 0.875rem 2rem;
  }

  @media (--min-lg-window) {
    &._button--outlined._button--sm {
      padding: 0.625rem 1.5rem;
    }

    &._button--outlined._button--md {
      padding: 0.875rem 2rem;
    }

    &._button--outlined._button--lg {
      padding: 1rem 2.5rem;
    }
  }

  &._button--outlined:not(:disabled)._button--highlighted {
    border-width: 0.125rem;

    &._button--sm {
      padding: 0.438rem 0.813rem;
    }

    &._button--md {
      padding: 0.562rem 1.437rem;
    }

    &._button--lg {
      padding: 0.812rem 1.937rem;
    }
  }

  @media (--min-lg-window) {
    &._button--outlined:not(:disabled)._button--highlighted {
      &._button--sm {
        padding: 0.562rem 1.437rem;
      }

      &._button--md {
        padding: 0.812rem 1.937rem;
      }

      &._button--lg {
        padding: 0.937rem 2.437rem;
      }
    }
  }

  /* Basic button */
  &._button--basic {
    transition-property: filter;
    transition-duration: 200ms;
  }

  &._button--basic-primary {
    background-color: var(--theme-primary-400);
    color: var(--theme-primary-contrast-400);
  }

  &._button--basic-secondary {
    background-color: var(--theme-secondary-800);
    color: var(--theme-secondary-contrast-800);
  }

  &._button--basic._button--sm {
    padding: 0.563rem 0.938rem;
  }

  &._button--basic._button--md {
    padding: 0.688rem 1.563rem;
  }

  &._button--basic._button--lg {
    padding: 0.938rem 2.063rem;
  }

  @media (--min-lg-window) {
    &._button--basic._button--sm {
      padding: 0.688rem 1.563rem;
    }

    &._button--basic._button--md {
      padding: 0.938rem 2.063rem;
    }

    &._button--basic._button--lg {
      padding: 1.063rem 2.563rem;
    }
  }

  &._button--basic:not(:disabled)._button--highlighted {
    filter: brightness(1.2);
  }

  /* Icon button */
  &._button--icon {
    border: 0.125rem solid transparent;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: transparent;
    color: currentcolor;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: currentcolor;
      opacity: 0;
      pointer-events: none;
      transition-property: opacity;
      transition-duration: 200ms;
    }
  }

  &._button--icon:not(:disabled):hover {
    &::after {
      opacity: 0.1;
    }
  }

  &._button--icon-primary {
    color: var(--theme-primary-400);
  }

  &._button--icon-secondary {
    color: var(--theme-secondary-800);
  }

  &._button--icon._button--sm {
    width: 2.125rem;
    height: 2.125rem;
  }

  &._button--icon._button--md {
    width: 2.625rem;
    height: 2.625rem;
  }

  &._button--icon._button--lg {
    width: 3.125rem;
    height: 3.125rem;
  }

  @media (--min-lg-window) {
    &._button--icon._button--sm {
      width: 2.625rem;
      height: 2.625rem;
    }

    &._button--icon._button--md {
      width: 3.125rem;
      height: 3.125rem;
    }

    &._button--icon._button--lg {
      height: 3.625rem;
      width: 3.625rem;
    }
  }

  &._button--icon:not(:disabled)._button--highlighted {
    border-color: currentcolor;
  }
}
