.g-button {
  outline: none;
  border-radius: 0.25rem;
  border: none;
  text-align: center;
  font-weight: var(--theme-font-weight-bold);

  &:not(:disabled) {
    cursor: pointer;
  }

  &[data-focus-ring] {
    outline: transparent solid 0.125rem;
    outline-offset: 0.125rem;
  }

  /* Global sizes */
  &.g-button--sm {
    font-size: var(--theme-font-size-body-small);
    line-height: var(--theme-line-height-body-small);
  }

  &.g-button--md {
    font-size: var(--theme-font-size-body-medium);
    line-height: var(--theme-line-height-body-medium);
  }

  &.g-button--lg {
    font-size: var(--theme-font-size-body-large);
    line-height: var(--theme-line-height-body-large);
  }

  /* Text button */
  &.g-button--primary-text {
    background-color: transparent;
    color: var(--theme-color-button-primary);
  }

  &.g-button--primary-text[data-focus-ring] {
    outline-color: currentcolor;
  }

  /* Outlined button */
  &.g-button--outlined {
    border: currentcolor solid 0.063rem;
    background-color: transparent;
    color: currentcolor;
  }

  &.g-button--outlined-primary {
    border-color: var(--theme-color-button-primary);
    color: var(--theme-color-button-primary);
  }

  &.g-button--outlined-primary[data-focus-ring] {
    outline-color: var(--theme-color-button-primary);
  }

  &.g-button--outlined-secondary {
    border-color: var(--theme-color-button-secondary);
    color: var(--theme-color-button-secondary);
  }

  &.g-button--outlined-secondary[data-focus-ring] {
    outline-color: var(--theme-color-button-secondary);
  }

  &.g-button--outlined.g-button--sm {
    padding: 0.25rem 0.75rem;
  }

  &.g-button--outlined.g-button--md {
    padding: 0.5rem 1rem;
  }

  &.g-button--outlined.g-button--lg {
    padding: 0.75rem 1.5rem;
  }

  /* Basic button */
  &.g-button--basic-primary {
    background-color: var(--theme-color-button-primary);
    color: var(--theme-color-button-primary-contrast);
  }

  &.g-button--basic-primary[data-focus-ring] {
    outline-color: var(--theme-color-button-primary);
  }

  &.g-button--basic-secondary {
    background-color: var(--theme-color-button-secondary);
    color: var(--theme-color-button-secondary-contrast);
  }

  &.g-button--basic-secondary[data-focus-ring] {
    outline-color: var(--theme-color-button-secondary);
  }

  &.g-button--basic.g-button--sm {
    padding: 0.25rem 0.75rem;
  }

  &.g-button--basic.g-button--md {
    padding: 0.5rem 1rem;
  }

  &.g-button--basic.g-button--lg {
    padding: 0.75rem 1.5rem;
  }

  /* Icon button */
  &.g-button--icon {
    border: 0.125rem solid transparent;
    border-radius: 50%;
    padding: 0.25rem;
    background-color: transparent;
    color: currentcolor;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &.g-button--icon-primary {
    color: var(--theme-color-button-primary);
  }

  &.g-button--icon-secondary {
    color: var(--theme-color-button-secondary);
  }

  &.g-button--icon:not(:disabled)[data-focus-ring] {
    border-color: currentcolor;
  }
}
