._button {
  font-weight: bold;
  outline: none;
  border: transparent solid 0.063rem;
  border-radius: 0.25rem;

  &:not(:disabled) {
    cursor: pointer;
  }

  &._button--sm {
    font-size: 0.875rem;
  }

  &._button--md {
    font-size: 1rem;
  }

  &._button--lg {
    font-size: 1.25rem;
  }

  &._button--primary-text {
    border: none;
    background-color: transparent;
    border-radius: 0.125rem;
    color: var(--theme-primary-500);
  }

  &._button--outlined-current {
    border-color: currentcolor;
    background-color: transparent;
    color: currentcolor;
  }

  &._button--outlined-primary {
    border-color: var(--theme-primary-500);
    background-color: transparent;
    color: var(--theme-primary-500);
  }

  &._button--outlined._button--sm {
    padding: 0.5rem 0.875rem;
  }

  &._button--outlined._button--md {
    padding: 0.625rem 1rem;
  }

  &._button--outlined._button--lg {
    padding: 0.75rem 1.25rem;
  }

  &:not(:disabled)._button--highlighted {
    border-width: 0.125rem;

    &._button--outlined._button--sm {
      padding: 0.438rem 0.813rem;
    }

    &._button--outlined._button--md {
      padding: 0.563rem 0.938rem;
    }

    &._button--outlined._button--lg {
      padding: 0.688rem 1.188rem;
    }
  }
}
