@import "/src/styles/utils/index.css";

._layout {
  &._layout--center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &._layout--page-content {
    margin: 1.5rem;
  }

  @media (--min-lg-window) {
    &._layout--page-content {
      margin: 1.5rem 3rem;
    }
  }
}
