@import "/src/styles/utils/index.css";

.g-text {
  &.g-text--h1 {
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 2.5rem;
  }

  @media (--min-lg-window) {
    &.g-text--h1 {
      font-size: 2.625rem;
      line-height: 3.5rem;
    }
  }

  &.g-text--h2 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 2.25rem;
  }

  @media (--min-lg-window) {
    &.g-text--h2 {
      font-size: 2.125rem;
      line-height: 3rem;
    }
  }

  &.g-text--h3 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
  }

  @media (--min-lg-window) {
    &.g-text--h3 {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }

  &.g-text--h4 {
    font-size: 1rem;
    font-weight: 600;
  }
}
