@use '../../styles/themes/theme';
@use '../../styles/utils/mixings';

nav.Toolbar {
  background-color: theme.color('toolbar-background');
  color: theme.color('toolbar-text');
  font-weight: bold;
  height: 2.25rem;
  padding: 1rem;
  @include mixings.min-xl {
    padding: 1rem 2rem;
  }
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  span.toolbar-link {
    a {
      svg {
        color: theme.color('toolbar-text');
      }
    }
  }
  span.toolbar-title {
    flex-grow: 1;
    font-size: 1.25rem;
  }
  span.toolbar-menu {
    span.toolbar-menu-btn {
      font-size: 1.25rem;
      color: theme.color('toolbar-text');
    }
  }
  span.toolbar-item {
    margin: 0 0.5rem;
    @include mixings.min-xl {
      margin: 0 0.75rem;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
