.c-event-card-list-layout {
  margin: 1.5rem;

  & .c-event-card-list-layout__card-item {
    min-width: 0;
  }

  & .c-event-card-list-layout__card-item:not(:first-child) {
    margin-top: 1.5rem;
  }
}

@media (--min-md-window) {
  .c-event-card-list-layout {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);

    & .c-event-card-list-layout__card-item:not(:first-child) {
      margin-top: 0;
    }
  }
}
