@use '../../../../styles/utils/variables';

div.LibraryItem {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  div.library-header {
    display: flex;
    align-items: center;
    span.library-icon {
      font-size: 2rem; 
    }
    span.library-title {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      margin-left: 0.75rem;
      span {
        white-space: nowrap;
        font-weight: bold;
      }
    }
    span.library-menu {
      span.library-menu-btn {
        color: inherit;
      }
    }
  }
  div.library-actions {
    flex-grow: 1;
    margin: 3rem 0;
  }
  div.library-footer {
    text-align: end;
    span.songs-badge {
      span:not(:first-child) {
        margin-left: 0.35rem;
      }
    }
  }
}
